/* ===========
text : #535353
grey : #f4f4f4
dark-grey : #ababab
yellow : #FF9800
accent yellow :#ffde0c
orange: #ffa64f
accent orange : #ff7e00
blue: #58C9EE
accent blue : #58C9EE
green : #619B38
accent green : #aee800
red : #dc3535
accent red : #ff4d4d
========= */

.typewrite {
    color: #58C9EE ! important;
}

.bk-01 {
    padding: 0 ! important;
}

body, p, .btn {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.2px;
    line-height: 22px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Arimo", sans-serif;
}

h1, h2 {
    font-weight: 500;
}

h3 h4, h5, h6 {
    font-weight: 400
}

body, p, h1, h2, h3, h4, h5, h6 {
    color: #717171;
}

a {
    color: #FF9800;
}

a:hover, a:active {
    color: #FF5722;
}

.btn-primary {
    background-color: #5EA6DA;
}

.btn-success {
    background-color: #5EA6DA;
}

.btn-info {
    background-color: #5EA6DA;
}

.btn-danger {
    background-color: #5EA6DA;
}

.btn-danger, .btn-danger i,
.btn-info, .btn-info i,
.btn-success, .btn-success i,
.btn-primary, .btn-primary i {
    color: #FFFFFF;
}

.pos-search-wrapper {
    background: #58C9EE;
    border-bottom: 1px solid #D8D8D8;
}

.pos-search-wrapper label {
    color: #FFFFFF;
}

.date-forward a, .date-back a {
    background: transparent;
}

.floating-social-media {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    /*border: 1px solid #949494;*/
    overflow: hidden;
    /*-webkit-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    position: fixed;

    right: -43px;
    top: 25%;

    transition: all 0.2s ease-in;
    z-index: 10;
}

.floating-social-media:hover {
    right: 0;
}

.floating-social-media .media-icon {
    background: #FF9800;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-in;
}

.floating-social-media:hover .media-icon {
    display: none;
    overflow: hidden;
}

.floating-social-media .media-icon i {
    color: #FFFFFF;
}

.floating-social-media .media-data {

    background: rgba(171, 171, 171, 0.5);
    margin-left: 28px;
}

.floating-social-media .media-data a {
    color: white;
    display: block;
    font-size: 25px;
    padding: 10px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.floating-social-media a:hover {
    background: #FFFFFF;
}

.no-label {
    padding-top: 28px;
}


/*

.primary-search {
    display: table;
    width: 100%;
}

.primary-search .search-form-wrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.search-bar .search-form {

}

.search-panel-wrapper {
    padding: 90px 0;
}

.search-panel {
    padding: 20px 30px 10px 30px;
}

.search-panel .form-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;

}


.form-control {
    margin: 0;
}


.search-panel .form-control {
    outline: none;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #888888;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
    height: auto;
    line-height: 32px;
}

.search-panel .search-return-button .btn.btn-active {
    background: #ff9c0b;
    color: #ffffff;
}
*/

#search-filterCollapse i {
    color: #FFFFFF;
}

.fk-btn
#search-filter .search-filter-header {
    font-weight: 600;
    line-height: 51px;
    margin-bottom: 20px;
}

.appearance-none {
    opacity: 0;
    padding: 6px;
    visibility: hidden;
}

.filter-type {
    font-size: 12px;
    line-height: 14px;
    padding: 0 22px;
}

.filter-type.title {
    font-weight: 600;
}

.font-lg {
    font-size: 16px;
}

.font-sm {
    font-size: 12px;
}

.font-bold {
    font-weight: 600;
}

.post-list .post-item {
    padding-bottom: 20px;
}

/*


.search-panel .search-return-button .btn {
    padding: 55px 0;
    background: #f5f5f5;
}

.search-panel .form-control:focus {
    border-bottom: 1px solid #5ea6da;
}
*/
.search-panel {
    position: relative;
}

.search-panel .search-swap-locations {
    /*    left: 30px;
        position: absolute;
        top: 45%;*/
}

.select2-dropdown {
    background: #FFFFFF;
    border: 1px solid #BCD2F7 !important;
    border-radius: 0;
    overflow: hidden;
}

.select2-container .select2-selection--single {
    height: auto;
}

.search-header .header-item {
    /*    text-align: center;*/
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%;
    position: absolute;
    right: 0;
    top: 1px;
    width: 38px;
}

.select2-container {
    width: 100%;
}

.search-form-items .select2-container .select2-selection--single .select2-selection__rendered {
    box-shadow: none;
    line-height: 66px;
    text-transform: capitalize;
}

.select2-result .select2-result-title,
.select2-result .select2-result-description {
    color: rgba(255, 255, 255, 0.8);
    text-transform: capitalize;
}

.select2-result:hover .select2-result-title,
.select2-result:hover .select2-result-description {
    color: rgba(255, 255, 255, 1);

}

.search-form-items .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #FFFFFF;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    box-shadow: 0 1px #FFFFFF, 0 1px 4px rgba(0, 0, 0, 0.05) inset;
    padding-left: 12px;
    padding-right: 24px;
}

.select2-search--dropdown .select2-search__field {
    padding: 5px 12px;
}

.select2-search--dropdown {
    display: block;
    padding: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: none;
    border-bottom: 1px solid #BCD2F7;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #B5E0FF;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5EA6DA;
    color: #FFFFFF;
}

/*

.search-panel .form-control {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
}

.search-panel .form-control::placeholder {
    color: #ffffff;
}

.search-panel .select2-container--default .select2-selection--single {
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ffffff;
}

.search-panel .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    line-height: 32px;

}

.search-panel .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
}

.search-panel .select2-container--open .select2-dropdown--below {
    border-radius: 4px;
}

.home-banner {
    position: absolute;
    height: 100%;
    overflow: hidden;
    z-index: -10;
}
*/
.icons-circle i, i.icons-circle, .circle {
    color: #5DA6DA;
}

.selectBox, .form-control {
    line-height: normal;
    padding: 6px 16px;
}

.work-process-box .item-number {
    background: #FFFFFF;
    color: #FF5722;
    font-weight: bold;
}

#process {
    background-attachment: fixed;
    background-size: cover;
}

.fun-factor {
    background-color: #D3E9FF;
    padding: 10px 0;
}

.count-number .counter {
    font-size: 18px;
}

.btn-default {
    color: white;
}

.count-heading {
    font-size: 14px;
    margin: 0;
}

div.count-number {
    margin: 0;
}

.select2-container--default .select2-selection--single {
    background-color: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

.page-title-section {
    margin-bottom: 30px;
}

.search-panel .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    border-radius: 4px;
    box-shadow: none;
    color: #444444;
    line-height: 40px;
}

.search-section {
    padding: 30px 0;
}

.post-icon {
    color: #5DA6DA;
    font-size: 54px;
    line-height: 83px;
}

.post-details .meta div {
    display: inline-block;
    margin: 0 8px 4px 0;
}

.post-details .title {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.post-details .description > div {
    display: inline-block;
    margin-right: 8px;
}

.post-details .description > div > span {
    font-style: italic;
}

.rating i {
    color: #DBDBDB;
    font-size: 10px;
    position: relative;
    top: -2px;
}

.rating i.rated {
    color: #FFA92B;
    font-size: 10px;
}

.post-prices {
    text-align: center;
}

.post-prices .ticket-price {
    color: #FF5722;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-top: 5px;
}

.post-prices .ticket-price i {
    font-size: 18px;
}

.post-prices .ticket-count {
    font-size: 11px;
    margin: 2px 0 0 0;
}

.post-prices .ticket-book .btn {
    padding: 4px 12px;
}

.meta, .post-meta {
    font-size: 12px;
}

.login-dp input {
    height: auto;
    line-height: normal;
    margin-bottom: 10px;
    min-height: 0;
    padding: 10px 12px;
}

.login-dp .help-block {
    bottom: 0;
    display: block;
    margin-bottom: 3px;
    position: relative;
}

.search-return-button {

}

.search-form-items {
    padding: 10px 0 15px 0;
}

.search-button {
    border-radius: 4px;
    padding: 8px 12px;
}

.search-return-button .btn {
    border-radius: 0;
    float: left;
    margin: 0;
    width: 50%;

}

.search-return-button .btn:first-child {

}

.fixed-bg {
    background-attachment: fixed;
    background-position: center center;
    /*background-size: cover;*/
}

.search-return-button .btn:last-child {
}

footer .social-icon {
    margin-top: 20px;
}

footer .social-icon a {
    display: inline-block;
    margin-right: 20px;
}

.work-process-box .title {
    border: none;
    font-size: 18px;
}

[type="checkbox"],
[type="radio"] {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}

[type="checkbox"]:focus + label::before,
[type="radio"]:focus + label::before {
    /*box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.4) !important;*/
}

[type="checkbox"]:hover + label::before,
[type="radio"]:hover + label::before {
    border-color: #333333;
}

[type="checkbox"]:active + label::before,
[type="radio"]:active + label::before {

}

[type="checkbox"] + label,
[type="radio"] + label {
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

[type="radio"]:checked + label:after,
[type="radio"]:checked + label:before,
[type="checkbox"]:checked + label:after,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:checked + label,
[type="radio"]:checked + label {
    border-color: #8BC34A;
    box-shadow: none;
    color: #8BC34A;
}

[type="checkbox"] + label::before,
[type="radio"] + label::before {
    background-color: #FFFFFF;
    border: 1px solid #333333;
    box-sizing: content-box;
    color: #333333;
    content: '';
    display: inline-block;
    height: 14px;
    left: 0;
    margin-right: 8px;
    position: relative;
    top: -3px;
    vertical-align: middle;
    width: 14px;
}

[type="checkbox"] + label::after,
[type="radio"] + label::after {
    background-color: #333333;
    box-sizing: content-box;
    content: '';
    height: 18px;
    left: 10px;
    margin-top: -9px;
    position: absolute;
    top: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
    width: 18px;
}

[type="radio"] + label::after {
    background-color: #333333;
    box-sizing: content-box;
    content: '';
    height: 8px;
    left: 5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
    width: 8px;
}

[type="checkbox"][disabled] + label::before,
[type="checkbox"][disabled] + label::before,
[type="radio"][disabled] + label::before {
    -webkit-animation: none;
    animation: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
    box-shadow: none;
}

[type="radio"]:checked + label::after {
    background: #8BC34A;
}

[type="checkbox"][disabled]:active + label::before, [type="checkbox"][disabled]:focus + label::before, [type="checkbox"][disabled]:hover + label::before,
[type="radio"][disabled]:active + label::before,
[type="radio"][disabled]:focus + label::before,
[type="radio"][disabled]:hover + label::before {
    border-color: rgba(128, 128, 128, 0.5);
    -webkit-filter: none;
    filter: none;
    transition: none;
}

[type="checkbox"] + label::before, [type="checkbox"] + label::after {
    border-radius: 0;
}

[type="checkbox"]:checked + label::before {
    border: transparent;
}

[type="checkbox"] + label::after {
    background-color: transparent;
    border-color: #333333;
    -o-border-image: none;
    border-image: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0 0 3px 3px;
    height: 5px;
    left: 2px;
    top: 50%;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    -webkit-transition: none;
    transition: none;
    width: 12px;
}

[type="checkbox"]:checked + label::after {
    content: '';
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
    -webkit-transition: transform 200ms ease-out;
    transition: transform 200ms ease-out;
}

[type="radio"] + label::before, [type="radio"] + label::after {
    border-radius: 50%;
}

[type="radio"]:checked:active + label::before, [type="radio"]:checked:focus + label::before {
    -webkit-animation: none;
    animation: none;
    -webkit-filter: none;
    filter: none;
    -webkit-transition: none;
    transition: none;
}

[type="radio"]:checked + label::before {
    -webkit-animation: none;
    animation: none;
    background-color: #FFFFFF;
}

[type="radio"]:checked + label::after {
    -webkit-transform: scale(1);
    transform: scale(1);
}

@-webkit-keyframes borderscale {
    50% {
        box-shadow: none;
    }
}

@keyframes borderscale {
    50% {
        box-shadow: none;
    }
}

label {
    color: #6C757D;
    font-weight: 400;
}

a:hover {
    color: #5EA6DA;
}

.display-none {
    display: none;
}


.arrow-style li {
    list-style: outside none none;
    margin-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
}

.page-header {
    background-attachment: fixed;
    background-color: #58C9EE;
    background-image: url("../../assets/images/sections/slider/rs-slider2-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header .title {
    font-size: 24px;
    margin-bottom: 10px;
}

.page-header .search-count {

}


.text-color {
    color: #5DA6DA;
}

.text-color-2 {
    color: #FF5722;
}

.section-title h1:before, .section-title h2:before, div.count-number:before {
    background-color: #FF9800;
    /*background-color: #FF5722;*/
    height: 3px;
}

.section-title h1, .section-title h2 {
    color: #717171;
    padding: 10px 0;
}

.footer-widget .widget .quick-routes i {
    font-size: 10px;
    line-height: 20px;
}

.home-banner .carousel-inner > .item.active,
.home-banner img {
    width: 100%;
}

.modify-search {
    background: #F7F7F7;
}

.modify-search .search-form {
    padding: 8px 0;
}

.form-control {
    background: #FFFFFF;
}

.date-options > a {
}

.extra-option-tabs {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
    text-align: right;
}

.extra-option-tabs li {
    display: inline-block;
}

.extra-option-tabs li a:first-child {
    border: none;
}

.extra-option-tabs li a {
    display: block;
    padding: 4px 12px;
}

.btn-sm {
    padding: 4px 16px;
}


.vehicle-image {
    border: 5px solid #FFFFFF;
    border-radius: 4px;
    margin: 20px 0;
    overflow: hidden;
}

.vehicle-image img {
    height: auto;
    width: 100%;
}

.list-options .vehicle-reviews li {
    background: #F7F7F7;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.list-options .vehicle-reviews li .comment {
    margin-bottom: 10px;

}

.list-options .vehicle-reviews li .author {
    font-size: 12px;
}

.invoice {
    border: 1px solid #DDDDDD;
    border-radius: 4px;

    margin-bottom: 26px;
    width: 100%;
}

.invoice-body {
    padding: 20px;
}

.invoice-footer {
    padding: 20px;
}

.book-seats {
    margin: 20px 0 0 0;
    text-align: right;
}

.process-booking {

}

.invoice-list {
    list-style-type: none;
    padding: 0;
}

.invoice-list li {
    margin-bottom: 4px;
}

.invoice-list li .seat-name {
    float: left;
}

.invoice-list li .seat-price {
    float: right;
}

.ticket-total {
    font-size: 20px;
    margin: 20px 0;
}

.ticket-total > span {
    display: inline-block;
    margin-left: 30px
}

/* ======== style for seat ======== */
.seat {
    content: '';
    display: inline-block;
    margin: 6px 4px;
}

.seat-arrangement {
    background: #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-align: center;
    /*padding-bottom: 30px;*/

}

.seat-layout {
    /*display: inline-block;*/
    background: #FFFFFF;
    border-radius: 6px;
    /*border: 1px solid #dddddd;*/
    /*padding: 15px;*/
    overflow: hidden;
}

.seat-layout .cabin-layout {
    background: #F6F6F6;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #828282;
    padding: 10px;
    text-align: center;

}

.seat-layout .seat-body {
    padding: 15px;
}

/*.seat-layout:before {
    content: ' ';
    background: #dddddd;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 40px;
}*/

.seat input[type="checkbox"] {
    cursor: pointer;

    display: none;
    height: initial;
    margin-bottom: 0;
    padding: 0;
    visibility: hidden;
    width: initial;
}

.seat input[type="checkbox"] + label {
    cursor: pointer;

    margin: 0;
    text-align: center;

}

.seat input[type="checkbox"]:checked + label {

}

.seat input[type="checkbox"] + label:after {
    display: none;
}

.seat input[type="checkbox"] + label:before {
    border: none;
    color: #828282;
    content: "\f141";
    font-family: "Flaticon";
    font-size: 28px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 22px;
}

.seat input[type="checkbox"]:checked + label:before {
    color: #5CB85C;
}

.seat input[type="checkbox"] + label:hover:before {
    /* color: #333333;*/
}

.seat input[type="checkbox"]:disabled + label, .seat input[type="checkbox"]:disabled + label:before {
    color: #C7C7C7;
}

.seat input[type="checkbox"].reserved, .seat input[type="checkbox"].reserved + label:before, .seat input[type="checkbox"]:disabled .reserved + label:before {
    color: #F44336;
}

.seat input[type="checkbox"].reserved + label:before {
}

/* ======== End style for seat ======== */
.highlighted {

    color: #FF9800;
    font-weight: 500;
}

.booking-details {
    padding-right: 0;
}

.booking-details .book .branding {
    margin-bottom: 30px;
    text-align: center;
}

.booking-details .book .branding > img {
    width: 90px;
}

.booking-details .book {
    border: 1px solid #E1E1E1;
    border-radius: 4px;
    box-shadow: 0 0 12px -2px #E1E1E1;
    padding: 20px;
}

.list-options .about-vehicle .vehicle-reviews {
}

.list-options .about-vehicle .vehicle-reviews li {
    background: #F7F7F7;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.list-options .about-vehicle .vehicle-reviews li .comment {
    font-weight: 600;
    margin-bottom: 6px;

}

.list-options .about-vehicle .vehicle-reviews li .author {
    font-size: 12px;

}

.list-options .about-vehicle .vehicle-reviews li .author > div {
    display: inline-block;
    margin: 0;
    margin-right: 5px;
}

.list-options .about-vehicle .vehicle-reviews li .author > div:last-child {
    margin: 0;
}

.list-options .about-vehicle .vehicle-reviews li .author i {
    margin-right: 6px;
}

.list-options .about-vehicle .vehicle-reviews li .author .date {
}

.list-options .about-vehicle .vehicle-reviews li .author .user {
}

.list-options .about-vehicle .vehicle-reviews li .author .role {
}

.passenger-details {
    margin-top: 30px;
}

.passenger-individual h6 {
    font-size: 14px;
    margin-bottom: 12px;
}

.social-media-login {
    margin-bottom: 30px;
    text-align: center;
}

.social-login-title {
    font-weight: 600;
    margin-bottom: 12px;
}

.social-media-login .social-buttons {

}

.social-media-login .social-buttons > a {

}

.faqs .filter-menu {
    display: block;
    width: 100%;
}

.faqs .filter-menu li {
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    cursor: pointer;
    float: none;
    margin-bottom: 12px;
    padding: 4px 8px;
    text-align: center;
    text-transform: capitalize;
}

.faqs .filter-menu li:hover {
    background: #5DA6DA;
    color: #FFFFFF;
}

.faqs .option-set:after {
    display: none;
}

#testimonials {
}

.latest-posts .post-thumb {
    margin-right: 15px;
    width: 108px;
}

.latest-posts li img {
    width: 100%;
}

.video-section .mb_YTVPBar {

    bottom: 0;
}

.video-section .mb_YTVPBar, .video-section .buttonBar {
    width: 100%;
}

.video-section:hover .buttonBar {
    display: block;
    transition: 0.2s all linear;
}

.video-section .buttonBar {
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    display: none;
}

.video-section .buttonBar .mb_YTVPMuteUnmute,
.video-section .buttonBar .mb_YTVPPlaypause,
.video-section .buttonBar .mb_OnlyYT,
.video-section .buttonBar .mb_YTVPUrl {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 18px 30px;
}

.video-section .buttonBar .mb_OnlyYT {
    float: right;
}

.video-section {
    padding: 0;
}

.buttonBar .mb_YTVPTime,
.video-section .buttonBar .mb_YTVPUrl {
    display: none;
}

.video-section .buttonBar .mb_YTVPPlaypause:hover,
.video-section .buttonBar .mb_YTVPMuteUnmute:hover,
.video-section .buttonBar .mb_YTVPTime:hover,
.video-section .buttonBar .mb_YTVPUrl:hover {
    background: #5DA6DA;

}

.video-section .buttonBar .mb_YTVPMuteUnmute {
}

.video-section .buttonBar .mb_YTVPTime {
}

.video-section .buttonBar .mb_YTVPUrl {
}

.contact-bottom {
    margin-top: 60px;
}

.image-bg.content-in {
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.process-content .title {
    font-size: 18px;
}

.dropdown-menu > li > a {
    padding: 10px 20px;
}

.dropdown-menu > li > a:hover {
    background: #5DA6DA;
    color: #FFFFFF !important;

}

.social-media-login {
    margin-top: 30px;
}

.color-light,
.color-light h1,
.color-light h2,
.color-light h3,
.color-light h4,
.color-light h5,
.color-light h6,
.color-light p {
    color: #FFFFFF;
}

.color-dark,
.color-dark h1,
.color-dark h2,
.color-dark h3,
.color-dark h4,
.color-dark h5,
.color-dark h6,
.color-dark p {
    color: #535353;
}

.features-list-item:hover i {
    background: #FFFFFF;
}

.mb_YTVPBar.inlinePlayer i {
    color: #FFFFFF;
}

.video-section .overlay-strips {

    height: 100%;
    width: 100%;
}

.video-section .overlay-strips:after {

    background: rgba(0, 0, 0, .4);
    border-radius: 50%;
    color: #FFFFFF;
    content: '\f04b';
    font-family: FontAwesome;
    font-size: 32px;
    left: 40%;
    padding: 30px 50px;
    position: absolute;
    top: 40%;
    z-index: 9;
}

.footer .copyright {
    /*  padding: 31px 0 30px !important;*/
    /* background: #FFFFFF !important;*/
    background: #1E1C26 !important;
}

.footer .site-disclaimer {
    /* padding-bottom: 12px;*/
    /* border-bottom: 1px solid #E7E7E7;*/
    border-bottom: 1px solid #1E1C26;
}

.footer .footer-menu {
    margin-top: 8px;
}

.footer .footer-menu li {
    display: inline-block;
    list-style-type: none;
    margin: 0 8px 0 0;

}

.footer .footer-menu li a {
    color: #5DA6DA;
    display: block;
}

footer .footer-menu li a:hover {
    color: #FF9800;
}

.login-modal .modal-body {
    padding: 0 !important;
}

.login-modal .modal-body .form-login {
    background: #F4F4F4E7;
    padding: 30px 15px 15px 15px;
}

.btn-transparent-white:hover {

}

.login-modal .modal-body .sign-up {
    padding: 30px 15px;
}

.dynamic-content .section-content {
    padding: 25px 0;
}

.bg-grey {
    background: #F5F5F5 !important;
}

.section-content .entry-title {
    margin-bottom: 30px;
}

.txt-white,
.txt-white p,
.txt-white h1,
.txt-white h2,
.txt-white h3,
.txt-white h4,
.txt-white h5,
.txt-white h6,
.txt-white blockquote,
.txt-white .client-details span {
    color: #FFFFFF !important;
}

.txt-light,
.txt-light p,
.txt-light h1,
.txt-light h2,
.txt-light h3,
.txt-light h4,
.txt-light h5,
.txt-light h6,
.txt-light blockquote,
.txt-light .client-details span {
    color: #E7E7E7 !important;
}

.txt-dark,
.txt-dark p,
.txt-dark h1,
.txt-dark h2,
.txt-dark h3,
.txt-dark h4,
.txt-dark h5,
.txt-dark h6,
.txt-dark blockquote,
.txt-dark .client-details span {
    color: #535353 !important;
}

.txt-black,
.txt-black p,
.txt-black h1,
.txt-black h2,
.txt-black h3,
.txt-black h4,
.txt-black h5,
.txt-black h6,
.txt-black blockquote,
.txt-black .client-details span {
    color: #000000 !important;
}

.bottom-arrow:after, .bottom-arrow:before {
    border-color: #5DA6DA transparent transparent;
    bottom: -20px;
}

.go-to-top {
    position: relative;
    top: 10px;
}

blockquote {
    padding: 20px;
}

.rating-score {
    display: inline-block;
    margin-bottom: 10px;
}

.ratings-details {
    margin-top: 20px;
}

.ratings-details .rating-progress {
    background-color: #F7F7F7;
    border-radius: 50px;
    content: '';
    height: 8px;
    margin: 5px 0;
    overflow: hidden;
    width: 100%;
}

.ratings-details > li {
    margin-bottom: 20px;
}

.ratings-details .rating-progress .progress-rating {
    background: #5DA6DA;
    content: '';

    height: 8px;
}

.testimonials .item {
    padding: 0 15px;
}

.modal-header {
    display: block;
}

.modal-header {
    display: block;
}

.modal.right.fade .modal-dialog {
    right: 0;
}

body .form-control, body .form-control:focus, body .form-control:active {
    box-shadow: none;
    outline: none;
}

/*
.input-group > *:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}*/
.btn {
    border-radius: 4px;
    box-shadow: none !important;
    padding: 8px 20px;
}

.btn-primary {
    background-color: #58C9EE;
    border-color: #58C9EE;
    color: #FFFFFF;
}

.btn-outline-primary {
    background-color: transparent;
    border: 1px solid #58C9EE;
    color: #58C9EE;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    background-color: #58C9EE;
    border-color: #58C9EE;
    color: #FFFFFF;
}

.btn-success {
    background-color: #619B38;
    border-color: #619B38;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success:active, .btn-success:focus, .btn-success:visited {
    background-color: #619F38;
    border-color: #619F38;
    color: #FFFFFF;
}

.btn-secondary {
    background-color: #ABABAB;
    border-color: #ABABAB;
    color: #FFFFFF;
}

.btn-secondary:hover . .btn-secondary:active, .btn-secondary:focus, .btn-secondary:visited {
    background-color: #D1D1D1;
    border-color: #D1D1D1;
    color: #FFFFFF;
}

.btn.btn-info {
    background-color: #FF9800;
    border-color: #FF9800;
    color: #FFFFFF;
}

.btn-info:hover, .btn-info:active, .btn-info:focus, .btn-info:visited {
    background-color: #FFDE0C;
    border-color: #FFDE0C;
    color: #FFFFFF;
}

.btn-warning {
    background-color: #FFA64F;
    border-color: #FFA64F;
    color: #FFFFFF;
}

.btn-warning:hover, .btn-warning:active, .btn-warning:focus, .btn-warning:visited {
    background-color: #FF7E00;
    border-color: #FF7E00;
    color: #FFFFFF;
}

.btn-danger {
    background-color: #DC3535;
    border-color: #DC3535;
    color: #FFFFFF;
}

.btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:visited {
    background-color: #FF4D4D;
    border-color: #FF4D4D;
    color: #FFFFFF;
}

.input-group .form-control.btn {
    width: auto;
}

.btn.btn-adj {
    padding: 20px;
}

.search-form-wrapper .search-form-header {
    background-color: #83CCFF;
}

.search-form-wrapper .search-form-body {
    background: #58C9EE;
    padding: 20px 0;

}

.search-form-wrapper .search-form-items {
    margin: 0;
    padding: 0;
}

.search-form-wrapper {
    /*box-shadow: 0 4px 10px -2px rgba(133, 133, 133, 0.15);
    padding:30px 0;
    margin-top: -60px;*/
}

.search-form-wrapper .nav-tabs {
    border: none;
}

.search-form-wrapper .nav-tabs > li > a {
    display: block;
}

.search-form-wrapper .nav-tabs > li > a {
    border: none;
    border-radius: 0;
    font-size: 15px;
    line-height: 24px;
    padding: 20px 30px;

}

.search-form-wrapper .nav-tabs > li > a:hover,
.search-form-wrapper .nav-tabs > li > a:active,
.search-form-wrapper .nav-tabs > li > a:focus,
.search-form-wrapper .nav-tabs > li > a:visited {
    border: none
}

.search-form-wrapper .nav-tabs > li > a:hover {
    color: #FFFFFF;

}

.search-form-wrapper .nav-tabs > li > a:active {
}

.search-form-wrapper .nav-tabs > li > a:focus {
}

.search-form-wrapper .nav-tabs > li > a:visited {
}

.search-form-wrapper h5 {
    font-size: 16px;
    margin-bottom: 10px;
}

.search-form-wrapper .nav-tabs .active a, .search-form-wrapper .nav-tabs .active a i {
    color: #FFFFFF;
    font-weight: normal;
}

.search-form-wrapper .nav-tabs a {
    color: #FFFFFF;
    padding: 15px 20px;
}

.search-form-wrapper .nav-tabs a i {
    color: #FFFFFF;
    margin-right: 6px;
}

.search-form-wrapper .nav-tabs a:hover {
    background-color: #FF9800;
    /*background-color: #58C9EE;*/
    /*background-color: #619B38;*/
}

.search-form-wrapper .nav-tabs a[aria-selected="true"] {
    background-color: #58C9EE;
}

.search-form-wrapper .nav-tabs a[aria-selected="true"], .search-form-wrapper .nav-tabs a[aria-selected="true"] i {
    color: #FFFFFF;
}

.search-form-wrapper .nav-tabs a[aria-selected="true"]:hover {
    /*background-color: #ffde0c;*/
    background-color: #58C9EE;
    color: #FFFFFF;
    /*background-color: #aee800;*/
}

.search-form-wrapper .tab-content .tab-pane {
    padding: 0;
}

.search-form-wrapper .nav-tabs > li > a i {
    font-size: 18px;
    line-height: 22px;
    margin-right: 2px;
    position: relative;
    top: 2px;
}


.search-form-wrapper .tab-content, .search-form-wrapper .tab-pane {
    margin: 0;
    padding: 0;
}

.search-form .search-item {
    line-height: 65px;
}

.input-group button, .input-group span {
    line-height: 38px;
    padding: 0 12px;
}

.dropdown-menu {
    border: 1px solid #E9ECEF;
    box-shadow: 0 0px 8px -4px #E9ECEF;
    padding: 0;
}

.dropdown-menu .dropdown-divider {
    margin: 0;
}

.dropdown-menu .dropdown-item {
    margin: 0;
    padding: 10px 15px;
}

.nav.nav-tabs {
    overflow-x: auto;
    white-space: nowrap;
}

.search-tabs {

}

.search-tabs > div {
    text-align: center;
    width: 100%;
}

.search-tabs .nav-item {
    margin: 0;
}

.nav-tabs > .nav-item-wrapper {
    /*display: inline-block;*/
}

.nav-tabs .nav-item {
    display: inline-block;
    padding: 6px 10px;

}

.navbar-nav a {
    color: #717171;
    padding: 10px 10px;
}

.navbar-nav a:hover {
    color: #5DA6DA;
}

/*.highlighted {
    color: white !important;
}*/


.ui-menu-item .autocomplete-item {

}

.ui-menu-item .item-label, .ui-menu-item .item-description {
    border: none;
}

.ui-menu-item .item-label {
    text-transform: capitalize;
}

.ui-menu-item .item-description {

}

.sticky-wrapper {
    /*position: absolute;*/
    /*width: 100%;*/
}

.sticky-wrapper.is-sticky {
    box-shadow: #ABABAB 0 0 0 0;
    position: relative;
}

.sticky-wrapper.is-sticky .site-header {
    background: #FFFFFF;
    box-shadow: #E4E4E4 0px 3px 4px -4px;
    transition: all linear 0.3s;
}

.btn-info {
    color: #717171;
}

.autocomplete-item {
    padding: 8px 12px;
}

.autocomplete-item .item-label {
}

.autocomplete-item item-description {
}

.ui-state-active.autocomplete-item .item-label {
    color: #FFFFFF;
}

.ui-state-active.autocomplete-item item-description {
    color: #FFFFFF;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background: #58C9EE;
    border: 1px solid #58C9EE;
    color: #FFFFFF;
}

.filter-section {
    margin-bottom: 30px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #ECECEC;
}

.ui-widget-header {
    background: transparent;
    border: 1px solid transparent;
}

.nav-tabs > li > a {
    display: inline-block;
}

.nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #58C9EE;
    color: #FFFFFF;
}

.auth-clients {
    text-align: center;
}

.auth-clients li {
    display: inline-block;
    float: none;
    margin-right: 8px;
}

.auth-clients li:last-child {
    margin-right: 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.horizontal-scroll-wrapper {
    display: flex;
    overflow: scroll hidden;
    white-space: nowrap;

}

.horizontal-scroll-wrapper::-webkit-scrollbar {
    display: none;
}

.navbar-toggle {
    font-size: 32px;
    margin-top: 0;
}

header .navbar {
    background: #FFFFFF;
}

.navbar-toggle .icon-bar {
    background-color: #58C9EE;
    border-radius: 1px;
    display: block;
    height: 2px;
    margin-bottom: 5px;
    width: 22px;
}

.navbar-toggle .icon-bar:last-child {
    margin: 0;
}

.close {
    font-weight: 300;

}

.modal .modal-dialog .close {
    line-height: 44px;
}

.is-sticky .navbar-brand {
    padding: 10px 0;
}

.navbar-brand {
    transition: all 0.2s ease-out;
}

.sticky-wrapper.is-sticky .navbar {
    min-height: 50px;
    padding: 5px 0;
}

.navbar-brand img {
    -moz-transition: 0.2s all linear;
    -ms-transition: 0.2s all linear;
    -o-transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    width: 70px;
}

.is-sticky .navbar-brand img {
    margin-left: 15px;
    width: 50px;
}

.navbar-nav > li {
    padding: 0;
}

.navbar-nav > li > a {
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
}

@media only screen and (max-width: 767px) {
    .modal.left .modal-dialog, .modal.right .modal-dialog {
        width: 100%
    }

    .floating-social-media {
        display: none;
    }
}

@media only screen and (max-width: 767px) {

}

.img-01 {
    height: auto ! important;
    width: 100% ! important;
}

.response {
    background-color: #58C9EE;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.response h5 {
    color: #FFFFFF;
    margin: 0;
}

.submit-contact {
    cursor: pointer;
}

.hidden {
    display: none;
}

.post-image img {
    height: 255px;
    object-fit: cover;

}

.dp-01 {
    left: 5%;
    min-width: 11.8rem;
}

.mb-17 {
    margin-bottom: 17px ! important;
}

.ln-22 {
    border: 3px solid #EEEEEE ! important;
    border-radius: 35px ! important;
    line-height: 22px ! important;
}

.client-image img {
    object-fit: cover;
}

.news-img-main {
    width: 100% ! important;
}

/*.wid-155{
    width: 188px;
}*/
.banner-back {

    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
    padding: 120px 0;

}

.counter-process, .call-action {
    padding: 30px 0 30px 0;
}

.explore-btn-01 button {
    border: 1px solid var(--gray) ! important;
    border-color: #58C9EE ! important;
    border-radius: 0px ! important;
    color: #FFFFFF;
    /* background-color: #58C9EE ! important; */
    font-family: sans-serif ! important;
    font-size: 20px ! important;
    padding: 12px 35px !important;
}

.explore-btn-01 {
    padding-top: 18px;
}

.login-signup {
    /*background: #58C9EE;
    border: 1px solid #58C9EE;50px;*/
    border-radius: 6px;
    color: #58C9EE ! important;
    padding: 8px 16px !important;

}

.short {
    color: #FF0000;
    font-size: larger;
    font-weight: bold;
}

.weak {
    color: orange;
    font-size: larger;
    font-weight: bold;
}

.good {
    color: #2D98F3;
    font-size: larger;
    font-weight: bold;
}

.strong {
    color: limegreen;
    font-size: larger;
    font-weight: bold;
}

.search-box {
    background: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
}

.search-box .nav-link {
    padding: 16px 20px;
}

.search-box .search-box-body .tab-content > .tab-pane, .search-box .search-box-body .pill-content > .pill-pane {
    padding: 0;
}

.search-box .search-box-body {
    border-radius: 6px;
    padding: 15px;
}


.search-box-title {
    border-bottom: 1px solid #58C9EE;
    padding: 0 0 0 15px;

}

.search-box-title h4 {
    font-size: 18px;
    line-height: 66px;
    margin: 0;
    padding: 0;
}


.search-box .search-swap-locations {
    /*position: absolute;*/
}

.search-box .search-box-body .form-group {
    margin-bottom: 20px;
    position: relative;
}

.search-box .search-box-body .form-group-action {
    font-size: 13px;
    /* text-align: right; */
    /* margin-top: 4px; */
    position: absolute;
    right: 15px;
    top: 15px;
}

.search-box .search-box-body .search-panel .select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.search-box .search-box-body .form-control {
    color: inherit;
    font-size: inherit;
    padding: 0 15px;
}


.home-slider .entry-title {
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    font-weight: 100;
    line-height: 72px;
    margin-bottom: 30px;
}

.home-slider .entry-sub-title {
    /*color: #FF9800;*/
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;

}

.home-slider .entry-content {
    margin-bottom: 30px;
}

.home-slider .entry-link {
    font-size: 16px;
    font-weight: 400;

    letter-spacing: 1px;
    line-height: 48px;
    padding: 0px 40px;
    text-decoration: none;
}

section.why-us {
    padding: 120px 0;
}

.why-us .travel-block {
    margin-bottom: 60px;
    text-align: center;
}

.why-us .travel-block:hover .icon-wrapper {
    background: #5DA6DA;
    border-radius: 100%;
    box-shadow: none;
}

.why-us .travel-block:hover .icon-wrapper i {
    color: #FFFFFF;
}

.travel-block .icon-wrapper {
    margin-bottom: 30px;
}

.travel-block .icon-wrapper i {
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
    -ms-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1) inset;

    display: inline-block;
    font-size: 28px;
    height: 90px;
    line-height: 90px;
    padding: 0;
    width: 90px;
}

.travel-block .icon-wrapper:before {
    top: 85%;
}

.white p,
.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6,
.white i {
    color: #FFFFFF;
}

.text-color {
    color: #FF9800
}

.clients .boxed-block {
    border: none;
    display: inline-block;
    margin: 20px;

}


.how .special-feature .s-feature-box {
    background: transparent;
    border: none;
    margin: 0;
    min-height: unset;
    overflow: hidden;
    position: relative;
}

.how .special-feature .feature-item-wrapper {
    padding: 30px;
}

.how .special-feature .s-feature-box.active .mask-top {
    background: #FF9800;
    /*box-shadow: 0 0 29px 22px #388cca inset;*/
}

.how .special-feature .mask-top,
.how .special-feature .mask-bottom {
    -moz-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    -ms-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    -o-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    -webkit-transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
}

.how .special-feature .mask-top {
    background: #5EA6DA;
    border-radius: 100%;
    bottom: 0;
    padding: 0;
    padding-top: 100%;

    position: relative;
    top: 0;
}

.how .special-feature .mask-bottom {
    border-radius: 100%;
    bottom: 0;
    opacity: 0;
}

.how .special-feature .mask-content {
    display: table;
    height: 100%;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%;
}

.how .special-feature .mask-content > div {
    display: table-cell;
    vertical-align: middle;
}

.special-feature .s-feature-box:hover .mask-top {
    opacity: 0;
    top: 0;
}

.how .special-feature .mask-top h4 {
    margin: 10px 0 0 0;
}

.how .special-feature .s-feature-box:hover .mask-bottom {
    border-radius: 6px;
    bottom: 0;
    opacity: 1;
}


.how .special-feature .mask-top h4:before {
    background: #FFFFFF;
    display: none;
}

.how .special-feature .mask-top i {
    font-size: 42px;
    line-height: 52px;
}

.how .special-feature .mask-bottom i {
    font-size: 24px;
    line-height: 36px;
}

.feature-rich .features-list-item h5 {
    color: #5DA6DA;
    font-weight: 500;
    margin-bottom: 4px;
}

.feature-rich .features-list-item .border-black {
    border: 1px solid #5DA6DA;
    color: #5DA6DA;
}

.feature-rich .features-list-item:hover i {
    background: #5EA6DA;
    border-color: #5EA6DA;
    color: #FFFFFF;
}

.feature-rich .special-feature .mask-bottom {
    border-radius: 100%;
}

.feature-rich .special-feature .s-feature-box:hover .mask-bottom {
    border-radius: 0;
}

img.app-image {
    max-width: 80%;
}

.travel-block .icon-wrapper:before {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 80%) repeat scroll 0 0;
}

.form-control::placeholder {
    color: #999999 !important;
}